﻿@model MVCFizzBuzzApp.Models.FizzBuzzViewModel
@{
    ViewBag.Title = "FizzBuzzView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="FizzBuzzForm">
    <h2>FizzBuzzView</h2>
    <span>Enter your Number</span>
    @Html.TextBoxFor(x => x.Number, new { id = "numberTextBox" })
    @Html.ValidationMessageFor(x => x.Number)


    <div id="listOfNumbers" class="numberDiv">
        <span id="result"></span>
        <a id="previousResult" class="navigationLink">Previous</a>
        <a id="nextResult" class="navigationLink linkPadding">Next</a>
        <ul class="unOrderedList">
        </ul>
    </div>


</form>


<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        var currentPageLastNumber = 0;
        var currentPageFirstNumber = 0;
        $('#previousResult').hide();
        $('#nextResult').hide();

        //Number Text Box change event
        $('#numberTextBox').on('change', function () {
            var number = parseInt($('#numberTextBox').val());
            if (number > 0 && number != undefined) {
                //Making a ajax call to the CheckForDivisibilty
                var url = "/FizzBuzz/CheckForDivisibility";
                $('#listOfNumbers .unOrderedList').html("");
                if (number > 20) {
                    $('#previousResult').show();
                    $('#nextResult').show();
                    $('#nextResult').css({ 'text-decoration': 'underline', 'cursor': 'pointer' });
                }
                var noOfIncrements = number > 20 ? 20 : number;
                for (var i = 1; i <= noOfIncrements; i++) {
                    $('#listOfNumbers .unOrderedList').append('<li><h3>' + i + '</h3></li>').css({ 'border': '5px dotted black', 'padding-left': '35px' });
                }

                currentPageLastNumber = parseInt($("#listOfNumbers .unOrderedList li h3").last()[0].innerHTML);
                currentPageFirstNumber = parseInt($("#listOfNumbers .unOrderedList li h3").first()[0].innerHTML);
                if (currentPageFirstNumber < 20) {
                    $('#previousResult').css({ 'text-decoration': 'none', 'cursor': 'default' });
                }

                $.get(url,
                    { number: number },
                    function (data) {
                        if (data.TextStyle === 'Blue') {
                            $("#result").html(data.Result).css({ 'color': 'blue' });
                        }
                        else if (data.TextStyle === 'Green') {
                            $("#result").html(data.Result).css({ 'color': 'green' });
                        } else {
                            $("#result").html(data.Result);
                        }
                    });
            } else {
                $('#listOfNumbers .unOrderedList').html("");
                $("#result").html("");
                return false;
            }
            return false;
        });

        //Next Page click event 
        $('#nextResult')
            .on('click',
                function () {
                    var number = parseInt($('#numberTextBox').val());
                    var lastNumber = currentPageLastNumber;
                    if (number !== currentPageLastNumber) {
                        $('#listOfNumbers .unOrderedList').html("");

                        //Displaying only 20 numbers
                        var noOfIncrements = (number > lastNumber) && (Math.ceil((number - lastNumber) / 20) === 1) ? number - lastNumber : 20;
                        for (var i = lastNumber + 1; i <= lastNumber + noOfIncrements ; i++) {
                            $('#listOfNumbers .unOrderedList').append('<li><h3>' + i + '</h3></li>').css({ 'border': '5px dotted black', 'padding-left': '35px' });
                        }

                        //Maintaining the Next page  and Previous page indexes for pagination
                        currentPageLastNumber = parseInt($("#listOfNumbers .unOrderedList li h3").last()[0].innerHTML);
                        currentPageFirstNumber = parseInt($("#listOfNumbers .unOrderedList li h3").first()[0].innerHTML);

                        //Displaying the Previous and Next link based on the availability
                        if (noOfIncrements < 20 || (noOfIncrements === 20 && number === currentPageLastNumber)) {
                            $('#nextResult').css({ 'text-decoration': 'none', 'cursor': 'default' });
                        }
                        if (currentPageLastNumber > 20) {
                            $('#previousResult').css({ 'text-decoration': 'underline', 'cursor': 'pointer' });
                        }
                    }

                });

        //Previous Page click event
        $('#previousResult')
            .on('click',
                function () {
                    var previousNumber = currentPageFirstNumber;
                    if (previousNumber > 20) {
                        $('#listOfNumbers .unOrderedList').html("");

                        //Displaying only 20 numbers
                        for (var i = previousNumber - 20; i < previousNumber; i++) {
                            $('#listOfNumbers .unOrderedList').append('<li><h3>' + i + '</h3></li>').css({ 'border': '5px dotted black', 'padding-left': '35px' });
                        }

                        //Maintaining the Next page and Previous page indexes for pagination
                        currentPageLastNumber = parseInt($("#listOfNumbers .unOrderedList li h3").last()[0].innerHTML);
                        currentPageFirstNumber = parseInt($("#listOfNumbers .unOrderedList li h3").first()[0].innerHTML);

                        //Displaying the Previous and Next link based on the availability
                        if (previousNumber === 21) {
                            $('#previousResult').css({ 'text-decoration': 'none', 'cursor': 'default' });
                        }
                        if (currentPageFirstNumber > 20) {
                            $('#nextResult').css({ 'text-decoration': 'underline', 'cursor': 'pointer' });
                        }
                    }

                });

    })

</script>
